In [22]:
import os
import pandas as pd
import numpy as np
abs_path = os.path.abspath('../data')

In [24]:
df =  pd.read_csv(os.path.join(abs_path, "AgeGroupDetails.csv"))
df

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%
5    6    50-59          77     11.13%
6    7    60-69          89     12.86%
7    8    70-79          28      4.05%
8    9     >=80          10      1.45%
9   10  Missing           9      1.30%