In [36]:
import os
import pandas as pd
import numpy as np
abs_path = os.path.abspath('../data')

In [25]:
df_age_group_details =  pd.read_csv(os.path.join(abs_path, "AgeGroupDetails.csv"))
df_age_group_details

   Sno AgeGroup  TotalCases Percentage
0    1      0-9          22      3.18%
1    2    10-19          27      3.90%
2    3    20-29         172     24.86%
3    4    30-39         146     21.10%
4    5    40-49         112     16.18%
5    6    50-59          77     11.13%
6    7    60-69          89     12.86%
7    8    70-79          28      4.05%
8    9     >=80          10      1.45%
9   10  Missing           9      1.30%

In [28]:
df_cases_all =  pd.read_csv(os.path.join(abs_path, "covid_19_india.csv"))
df_cases_all.head(10)

,Sno,Date,Time,State/UnionTerritory,ConfirmedIndianNational,ConfirmedForeignNational,Cured,Deaths,Confirmed
0,1,30/01/20,6:00 PM,Kerala,1,0,0,0,1
1,2,31/01/20,6:00 PM,Kerala,1,0,0,0,1
2,3,01/02/20,6:00 PM,Kerala,2,0,0,0,2
3,4,02/02/20,6:00 PM,Kerala,3,0,0,0,3
4,5,03/02/20,6:00 PM,Kerala,3,0,0,0,3
5,6,04/02/20,6:00 PM,Kerala,3,0,0,0,3
6,7,05/02/20,6:00 PM,Kerala,3,0,0,0,3
7,8,06/02/20,6:00 PM,Kerala,3,0,0,0,3
8,9,07/02/20,6:00 PM,Kerala,3,0,0,0,3
9,10,08/02/20,6:00 PM,Kerala,3,0,0,0,3

In [29]:
df_hospital_beds =  pd.read_csv(os.path.join(abs_path, "HospitalBedsIndia.csv"))
df_hospital_beds

,Sno,State/UT,NumPrimaryHealthCenters_HMIS,NumCommunityHealthCenters_HMIS,NumSubDistrictHospitals_HMIS,NumDistrictHospitals_HMIS,TotalPublicHealthFacilities_HMIS,NumPublicBeds_HMIS,NumRuralHospitals_NHP18,NumRuralBeds_NHP18,NumUrbanHospitals_NHP18,NumUrbanBeds_NHP18
0,1,Andaman & Nicobar Islands,27,4,NaN,3,34,1246,27,575,3,500
1,2,Andhra Pradesh,1417,198,31.0,20,1666,60799,193,6480,65,16658
2,3,Arunachal Pradesh,122,62,NaN,15,199,2320,208,2136,10,268
3,4,Assam,1007,166,14.0,33,1220,19115,1176,10944,50,6198
4,5,Bihar,2007,63,33.0,43,2146,17796,930,6083,103,5936
5,6,Chandigarh,40,2,1.0,4,47,3756,0,0,4,778
6,7,Chhattisgarh,813,166,12.0,32,1023,14354,169,5070,45,4342
7,8,Dadra & Nagar Haveli,9,2,1.0,1,13,568,10,273,1,316
8,9,Daman & Diu,4,2,NaN,2,8,298,5,240,0,0
9,10,Delhi,534,25,9.0,47,615,20572,0,0,109,24383
10,11,Goa,31,4,2.0,3,40,2666,17,1405,25,1608
11,12,Gujarat,1770,385,44.0,37,2236,41129,364,11715,122,20565
12,13,Haryana,500,131,24.0,28,683,13841,609,6690,59,4550
13,14,Himachal Pradesh,516,79,61.0,15,671,8706,705,5665,96,6734
14,15,Jammu & Kashmir,702,87,NaN,29,818,11342,56,7234,76,4417
15,16,Jharkhand,343,179,13.0,23,558,7404,519,5842,36,4942
16,17,Karnataka,2547,207,147.0,42,2943,56333,2471,21072,374,49093
17,18,Kerala,933,229,82.0,53,1297,39511,981,16865,299,21139
18,19,Lakshadweep,4,3,2.0,1,10,250,9,300,0,0
19,20,Madhya Pradesh,1420,324,72.0,51,1867,38140,334,10020,117,18819
20,21,Maharashtra,2638,430,101.0,70,3239,68998,273,12398,438,39048
21,22,Manipur,87,17,1.0,9,114,2562,23,730,7,697
22,23,Meghalaya,138,29,NaN,13,180,4585,143,1970,14,2487
23,24,Mizoram,65,10,3.0,9,87,2312,56,604,34,1393
24,25,Nagaland,134,21,NaN,11,166,1944,21,630,15,1250
25,26,Odisha,1360,377,27.0,35,1799,16497,1655,6339,149,12180
26,27,Puducherry,40,4,5.0,4,53,4462,3,96,11,3473
27,28,Punjab,521,146,47.0,28,742,13527,510,5805,172,12128
28,29,Rajasthan,2463,579,64.0,33,3139,51844,602,21088,150,10760
29,30,Sikkim,25,2,1.0,4,32,1145,24,260,9,1300
30,31,Tamil Nadu,1854,385,310.0,32,2581,72616,692,40179,525,37353
31,32,Telangana,788,82,47.0,15,932,17358,802,7668,61,13315
32,33,Tripura,114,22,12.0,9,157,4895,99,1140,56,3277
33,34,Uttar Pradesh,3277,671,NaN,174,4122,58310,4442,39104,193,37156
34,35,Uttarakhand,275,69,19.0,20,383,6660,410,3284,50,5228
35,36,West Bengal,1374,406,70.0,55,1905,51163,1272,19684,294,58882
36,37,All India,"29,899",5568,1255.0,1003,37725,739024,19810,279588,3772,431173

In [30]:
df_icmr_testing_labs =  pd.read_csv(os.path.join(abs_path, "ICMRTestingLabs.csv"))
df_icmr_testing_labs.head(10)

,lab,address,pincode,city,state,type
0,"ICMR-Regional Medical Research Centre, Port Blair","ICMR-Regional Medical Research Centre, Post Ba...",744103,Port Blair,Andaman and Nicobar Islands,Government Laboratory
1,Tomo Riba Institute of Health & Medical Scienc...,"National Highway 52A, Old Assembly Complex, Na...",791110,Naharlagun,Arunachal Pradesh,Collection Site
2,Sri Venkateswara Institute of Medical Sciences...,Sri Venkateswara Institute of Medical Sciences...,517507,Tirupati,Andhra Pradesh,Government Laboratory
3,"Rangaraya Medical College, Kakinada","Rangaraya Medical College, Kakinada Pithampura...",533001,Kakinada,Andhra Pradesh,Government Laboratory
4,"Sidhartha Medical College, Vijaywada","Siddhartha Medical College, Vijayawada NH 16 S...",520008,Vijayawada,Andhra Pradesh,Government Laboratory
5,"Government Medical College, Anantapur","Government Medical College, Anantapur, Rahamat...",515001,Anantapur,Andhra Pradesh,Government Laboratory
6,"Guntur Medical College, Guntur","Guntur Medical College, Guntur Kanna Vari Thot...",522004,Guntur,Andhra Pradesh,Government Laboratory
7,Rajeev Gandhi Institute of Medical Sciences (R...,"Rajiv Gandhi Institute of Medical Sciences, Ka...",516002,Puttampalli,Andhra Pradesh,Government Laboratory
8,"Andhra Medical College, Vishakhapatnam","Andhra Medical College, Vishakhapatnam, Medica...",530002,Vishakhapatnam,Andhra Pradesh,Government Laboratory
9,"Gauhati Medical College, Guwahati","Guwahati Narakasur Hilltop, Bhangagarh, Guwaha...",781032,Guwahati,Assam,Government Laboratory

In [32]:
df_individual_details =  pd.read_csv(os.path.join(abs_path, "IndividualDetails.csv"))
df_individual_details.head(10)

,id,government_id,diagnosed_date,age,gender,detected_city,detected_district,detected_state,nationality,current_status,status_change_date,notes
0,0,KL-TS-P1,30/01/2020,20,F,Thrissur,Thrissur,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
1,1,KL-AL-P1,02/02/2020,NaN,NaN,Alappuzha,Alappuzha,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
2,2,KL-KS-P1,03/02/2020,NaN,NaN,Kasaragod,Kasaragod,Kerala,India,Recovered,14/02/2020,Travelled from Wuhan
3,3,DL-P1,02/03/2020,45,M,East Delhi (Mayur Vihar),East Delhi,Delhi,India,Recovered,15/03/2020,"Travelled from Austria, Italy"
4,4,TS-P1,02/03/2020,24,M,Hyderabad,Hyderabad,Telangana,India,Recovered,02/03/2020,"Travelled from Dubai to Bangalore on 20th Feb,..."
5,5,NaN,03/03/2020,69,M,Jaipur,Italians,Rajasthan,Italy,Recovered,03/03/2020,Travelled from Italy
6,6,NaN,04/03/2020,55,NaN,Gurugram,Italians,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy
7,7,NaN,04/03/2020,55,NaN,Gurugram,Italians,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy
8,8,NaN,04/03/2020,55,NaN,Gurugram,Italians,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy
9,9,NaN,04/03/2020,55,NaN,Gurugram,Italians,Haryana,Italy,Recovered,29/03/2020,Travelled from Italy

In [34]:
df_population_census_2011 =  pd.read_csv(os.path.join(abs_path, "population_india_census2011.csv"))
df_population_census_2011.head(10)

,Sno,State / Union Territory,Population,Rural population,Urban population,Area,Density,Gender Ratio
0,1,Uttar Pradesh,199812341,155317278,44495063,"240,928 km2 (93,023 sq mi)","828/km2 (2,140/sq mi)",912
1,2,Maharashtra,112374333,61556074,50818259,"307,713 km2 (118,809 sq mi)",365/km2 (950/sq mi),929
2,3,Bihar,104099452,92341436,11758016,"94,163 km2 (36,357 sq mi)","1,102/km2 (2,850/sq mi)",918
3,4,West Bengal,91276115,62183113,29093002,"88,752 km2 (34,267 sq mi)","1,029/km2 (2,670/sq mi)",953
4,5,Madhya Pradesh,72626809,52557404,20069405,"308,245 km2 (119,014 sq mi)",236/km2 (610/sq mi),931
5,6,Tamil Nadu,72147030,37229590,34917440,"130,058 km2 (50,216 sq mi)","555/km2 (1,440/sq mi)",996
6,7,Rajasthan,68548437,51500352,17048085,"342,239 km2 (132,139 sq mi)",201/km2 (520/sq mi),928
7,8,Karnataka,61095297,37469335,23625962,"191,791 km2 (74,051 sq mi)",319/km2 (830/sq mi),973
8,9,Gujarat,60439692,34694609,25745083,"196,024 km2 (75,685 sq mi)",308/km2 (800/sq mi),919
9,10,Andhra Pradesh,49577103,34966693,14610410,"162,968 km2 (62,922 sq mi)",303/km2 (780/sq mi),993

In [35]:
df_state_wise_testing =  pd.read_csv(os.path.join(abs_path, "StatewiseTestingDetails.csv"))
df_state_wise_testing.head(10)

         Date                        State  TotalSamples Negative  Positive
0  2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1  2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2  2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3  2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4  2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0
5  2020-05-19  Andaman and Nicobar Islands        6965.0      NaN      33.0
6  2020-05-20  Andaman and Nicobar Islands        7082.0      NaN      33.0
7  2020-05-21  Andaman and Nicobar Islands        7167.0      NaN      33.0
8  2020-05-22  Andaman and Nicobar Islands        7263.0      NaN      33.0
9  2020-05-23  Andaman and Nicobar Islands        7327.0      NaN      33.0